@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, forest, luxury, cupcake
      bumblebee,
      emerald,
      corporate,
      synthwave,
      retro,
      cyberpunk,
      valentine,
      halloween,
      garden,

      aqua,
      lofi,
      pastel,
      fantasy,
      wireframe,
      black,
      luxury,
      dracula,
      cmyk,
      autumn,
      business,
      acid,
      lemonade,
      night,
      coffee,
      winter,
      dim,
      nord,
      sunset;
}